################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/node_modules
/obj/Debug
/Properties
/ng2-metadata.csproj
/ng2-metadata.csproj.user
/publishing.txt
